h1, h2 {
  font-family: 'Roboto Condensed', sans-serif;
  color: rgb(50, 50, 50);
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: rgb(243, 238, 231);
  color: rgb(23, 23, 23);
  font-size: 14px;
}


.btn-grey {
  text-decoration: none;
  font-weight: bold;
  color: rgb(23, 23, 23);
  background-color: rgb(180, 180, 180);
  padding: 8px;
  border-radius: 14px;
  box-shadow: 2px 2px 5px rgba(0,0,0,.15);
}

.btn-grey:hover {
  color: rgb(0, 0, 0);
  background-color: rgb(150, 150, 150);
  transition-delay: .2s ease-in;
}

.img-round {
  width: 200px;
  border-radius: 50%;
}

.container {
  text-align: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.card {
  background-color: rgb(245, 249, 252);
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
  margin: 30px 30px;
  padding: 23px;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
  font-size: 23px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
  height: 32px;
}

.list-inline a {
  background-color: rgb(245, 245, 245);
  font-size: 23px;
  color: rgb(32, 32, 32);

}

.list-inline li:hover {
  transform: scale(1.5);
  transition-delay: .5s ease-in;
  color: rgb(5, 5, 5);

}

@media (min-width: 961px) {
  .container {
    width: 1200px;
  }
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
