h1, h2 {
  font-family: 'Roboto Condensed', sans-serif;
  color: rgb(50, 50, 50);
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: rgb(243, 238, 231);
  color: rgb(23, 23, 23);
  font-size: 14px;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: rgb(23, 23, 23);
  background-color: rgb(180, 180, 180);
  padding: 8px;
  border-radius: 14px;
  box-shadow: 2px 2px 5px rgba(0,0,0,.15);
}

a:hover {
  color: rgb(0, 0, 0);
  background-color: rgb(150, 150, 150);
  transition-delay: .2s ease-in;
}

#profile-img {
  width: 200px;
  border-radius: 50%;
}

.container {
  text-align: center;
}

.card {
  background-color: rgb(245, 249, 252);
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
  margin: 30px 30px;
  padding: 23px;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
  font-size: 50px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.list-inline a {
  background-color: rgb(245, 249, 252);
  font-size: 40px;
}

.list-inline a:hover {
  font-size: 50px;
  transition-delay: .5s ease-in;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
