.btn-grey {
  text-decoration: none;
  font-weight: bold;
  color: rgb(23, 23, 23);
  background-color: rgb(180, 180, 180);
  padding: 8px;
  border-radius: 14px;
  box-shadow: 2px 2px 5px rgba(0,0,0,.15);
}

.btn-grey:hover {
  color: rgb(0, 0, 0);
  background-color: rgb(150, 150, 150);
  transition-delay: .2s ease-in;
}
